@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap");
html, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.3px;
}

body {
  background: #F3F3F3;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.control-panel {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #665F55;
  overflow: hidden;
  z-index: 2;
}

.control-panel .control-panel__actions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.control-panel .control-panel__bottom {
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
}

.control-panel .control-panel__bottom svg {
  width: 100%;
}

.adding-box {
  position: fixed;
  width: 700px;
  height: 600px;
  background: #fff;
  top: 153px;
  left: 0;
  z-index: 1;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-box-shadow: 2px 0 10px 1px #3333333f;
          box-shadow: 2px 0 10px 1px #3333333f;
}

.adding-box .adding-box__top {
  width: 100%;
  height: 50px;
  background: #272b2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.adding-box .adding-box__top .adding-box__heading {
  position: relative;
  color: #F5F5F5;
  font-weight: 400;
}

.adding-box .adding-box__top .adding-box__heading::before, .adding-box .adding-box__top .adding-box__heading::after {
  position: absolute;
  content: '';
  height: 2px;
  background: #f5f5f5;
  width: 150px;
  top: 50%;
}

.adding-box .adding-box__top .adding-box__heading::before {
  left: -170px;
}

.adding-box .adding-box__top .adding-box__heading::after {
  right: -170px;
}

.adding-box .adding-box__top .adding-box__top-btn {
  position: absolute;
  background: transparent;
  width: 28px;
  height: 28px;
  right: 15px;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.adding-box .adding-box__top .adding-box__top-btn span {
  position: absolute;
  display: block;
  background: #E7AC51;
  width: 80%;
  height: 3px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.adding-box .adding-box__top .adding-box__top-btn .first {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.adding-box .adding-box__top .adding-box__top-btn .second {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.adding-box .adding-box__top .adding-box__top-btn:hover {
  background: #f5f5f5;
}

.adding-box .adding-box__top .adding-box__top-btn:hover span {
  background: #272b2a;
}

.main-view {
  margin-left: 300px;
  padding: 30px;
}

.main-view .main-view__heading {
  width: 100%;
}

.main-view .main-view__heading .main-view__heading-h1 {
  font-size: 32px;
  font-weight: 400;
}

.main-view .main-view__heading hr {
  width: 30%;
  height: 5px;
  background: #E7AC51;
  border: none;
  margin: 40px 0;
}

.main-view .main-view__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-view .main-view__content .main-view__text {
  width: 40%;
  padding-right: 30px;
}

.main-view .main-view__content .main-view__text .main-view__text-paragraph {
  font-size: 18px;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 20px;
}

.main-view .main-view__content .main-view__print {
  padding-left: 100px;
  padding-bottom: 80px;
}

.main-view .main-view__content .main-view__print .main-view__print-box {
  width: 740px;
  height: 900px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 1px #3333333f;
          box-shadow: 0 0 10px 1px #3333333f;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  padding: 40px;
  width: 100%;
}

.left-tab {
  width: 40%;
  height: auto;
  padding: 30px;
  background-color: #fff;
}

.unit-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.unit-infos .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
  width: 100%;
}

.unit-infos .box label {
  width: 30%;
}

.unit-infos .box input {
  border: none;
  font-size: 15px;
  height: 30px;
  padding: 4px;
  border-bottom: 1px solid #40AFFF;
}

.unit-infos .text-box input {
  width: 70%;
}

.unit-infos .number-box input {
  width: 10%;
}

.unit-infos .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.unit-infos .add-box .upper-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unit-infos .add-box .upper-side p {
  width: 30%;
}

.unit-infos .add-box .upper-side .add-btn {
  width: 35px;
  height: 35px;
  background: #40AFFF;
  border: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.unit-infos .add-box .upper-side .add-btn span {
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
}

.unit-infos .add-box .upper-side .add-btn span:last-child {
  width: 2px;
  height: 25px;
}

.unit-infos .add-box .lower-side {
  width: 100%;
  margin-top: 10px;
}

.unit-infos .add-box .lower-side .weapon-add, .unit-infos .add-box .lower-side .ability-add, .unit-infos .add-box .lower-side .keyword-add {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.unit-infos .add-box .lower-side .weapon-add .attributes-btn, .unit-infos .add-box .lower-side .ability-add .attributes-btn, .unit-infos .add-box .lower-side .keyword-add .attributes-btn {
  border: none;
  width: 30px;
  height: 30px;
  background: #d64a4a;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.unit-infos .add-box .lower-side .weapon-add input, .unit-infos .add-box .lower-side .weapon-add select, .unit-infos .add-box .lower-side .ability-add input, .unit-infos .add-box .lower-side .ability-add select, .unit-infos .add-box .lower-side .keyword-add input, .unit-infos .add-box .lower-side .keyword-add select {
  width: 10%;
  border: none;
  background: #ececec;
  border-right: 2px solid #ffffff;
}

.unit-infos .add-box .lower-side .weapon-add input::-webkit-input-placeholder, .unit-infos .add-box .lower-side .ability-add input::-webkit-input-placeholder, .unit-infos .add-box .lower-side .keyword-add input::-webkit-input-placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon-add input:-ms-input-placeholder, .unit-infos .add-box .lower-side .ability-add input:-ms-input-placeholder, .unit-infos .add-box .lower-side .keyword-add input:-ms-input-placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon-add input::-ms-input-placeholder, .unit-infos .add-box .lower-side .ability-add input::-ms-input-placeholder, .unit-infos .add-box .lower-side .keyword-add input::-ms-input-placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon-add input::placeholder, .unit-infos .add-box .lower-side .ability-add input::placeholder, .unit-infos .add-box .lower-side .keyword-add input::placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon-add input:nth-child(1), .unit-infos .add-box .lower-side .ability-add input:nth-child(1), .unit-infos .add-box .lower-side .keyword-add input:nth-child(1) {
  width: 30%;
}

.unit-infos .add-box .lower-side .weapon-add input:nth-child(2), .unit-infos .add-box .lower-side .ability-add input:nth-child(2), .unit-infos .add-box .lower-side .keyword-add input:nth-child(2) {
  width: 15%;
}

.unit-infos .add-box .lower-side .weapon-add input:nth-child(3), .unit-infos .add-box .lower-side .ability-add input:nth-child(3), .unit-infos .add-box .lower-side .keyword-add input:nth-child(3) {
  width: 9%;
}

.unit-infos .add-box .lower-side .weapon-add input:nth-child(4), .unit-infos .add-box .lower-side .ability-add input:nth-child(4), .unit-infos .add-box .lower-side .keyword-add input:nth-child(4) {
  width: 9%;
}

.unit-infos .add-box .lower-side .weapon-add input:nth-child(5), .unit-infos .add-box .lower-side .ability-add input:nth-child(5), .unit-infos .add-box .lower-side .keyword-add input:nth-child(5) {
  width: 9%;
}

.unit-infos .add-box .lower-side .weapon-add input:nth-child(6), .unit-infos .add-box .lower-side .ability-add input:nth-child(6), .unit-infos .add-box .lower-side .keyword-add input:nth-child(6) {
  width: 13%;
}

.unit-infos .add-box .lower-side .weapon-add input:nth-child(8), .unit-infos .add-box .lower-side .ability-add input:nth-child(8), .unit-infos .add-box .lower-side .keyword-add input:nth-child(8) {
  width: 12%;
}

.unit-infos .add-box .lower-side .ability-add select {
  width: 20%;
}

.unit-infos .add-box .lower-side .ability-add input:nth-child(2) {
  width: 20%;
}

.unit-infos .add-box .lower-side .ability-add input:nth-child(3) {
  width: 60%;
}

.unit-infos .btn-box {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn {
  background-color: #40AFFF;
  color: #ffffff;
  font-size: 18px;
  width: 40%;
  height: 35px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.right-tab {
  width: 740px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-tab .pdf-view {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-tab .generate-box {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ececec;
  padding: 15px;
  margin-top: 10px;
}

.warscroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border: 1px solid #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, border .3s, box-shadow .3s;
  transition: transform .3s, border .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  position: relative;
  overflow: hidden;
}

.warscroll-back {
  border-left: 1px solid #000000;
}

.warscroll-front, .warscroll-back {
  height: 240px;
  width: 340px;
  padding: 5px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.warscroll-front .warscroll-top, .warscroll-back .warscroll-top {
  border-bottom: 1px solid #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.warscroll-front .warscroll-top .warscroll-top-name, .warscroll-front .warscroll-top .warscroll-top-weapons, .warscroll-back .warscroll-top .warscroll-top-name, .warscroll-back .warscroll-top .warscroll-top-weapons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 48%;
}

.warscroll-front .warscroll-top .warscroll-top-name p:first-child, .warscroll-back .warscroll-top .warscroll-top-name p:first-child {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.warscroll-front .warscroll-top .warscroll-top-name p:last-child, .warscroll-back .warscroll-top .warscroll-top-name p:last-child {
  text-transform: uppercase;
  font-size: 10px;
}

.warscroll-front .warscroll-top .warscroll-top-weapons, .warscroll-back .warscroll-top .warscroll-top-weapons {
  text-align: right;
  font-size: 9px;
}

.warscroll-front .warscroll-stats, .warscroll-back .warscroll-stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #000000;
  padding: 3px 0;
}

.warscroll-front .warscroll-stats .stats-box, .warscroll-back .warscroll-stats .stats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warscroll-front .warscroll-stats .stats-box i, .warscroll-back .warscroll-stats .stats-box i {
  font-size: 23px;
  margin-right: 4px;
}

.warscroll-front .warscroll-stats .stats-box span, .warscroll-back .warscroll-stats .stats-box span {
  font-size: 20px;
}

.warscroll-front .warscroll-weapons-abilities, .warscroll-back .warscroll-weapons-abilities {
  width: 100%;
  border-bottom: 1px solid #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px auto;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapons-stats, .warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapons-stats, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p, .warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p {
  font-size: 11px;
  border: 1px solid #000;
  border-right: none;
  width: 14%;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(1), .warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(1), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(1), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(1) {
  width: 8%;
  padding-right: 1px;
  border: none;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(2), .warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(2), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(2), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(2) {
  width: 17%;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(5), .warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(5), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(5), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(5) {
  width: 22%;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(7), .warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(7), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapons-stats p:nth-child(7), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(7) {
  border-right: 1px solid #000000;
  width: 11%;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon {
  margin-top: 2px;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p {
  height: 18px;
  font-size: 14px;
  font-weight: bold;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p i, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p i {
  margin-right: 5px;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(1), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon p:nth-child(1) {
  font-size: 12px;
  font-weight: normal;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon:nth-child(even), .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon:nth-child(even) {
  background: #e0e0e0;
}

.warscroll-front .warscroll-weapons-abilities .warscroll-weapons .weapon:nth-child(even) p:first-child, .warscroll-back .warscroll-weapons-abilities .warscroll-weapons .weapon:nth-child(even) p:first-child {
  background: #fff;
}

.warscroll-front .warscroll-keywords, .warscroll-back .warscroll-keywords {
  font-size: 10px;
}

.warscroll-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.801);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.warscroll-panel .warscroll-delete {
  background: #d64a4a;
}

.warscroll-panel.turn-on {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.warscroll-abilities {
  width: 100%;
}

.warscroll-abilities .ability {
  width: 100%;
  font-size: 10px;
}

.warscroll-abilities .ability .ability-type {
  float: left;
  font-style: normal;
  font-weight: bold;
  margin-right: 3px;
}

.warscroll-abilities .ability .ability-name {
  float: left;
  font-style: italic;
  margin-right: 3px;
}

.warscroll-abilities .ability .ability-desc {
  font-weight: bold;
}

.warscroll-back .warscroll-abilities {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 0;
}

.warscroll-back .warscroll-keywords {
  border-top: 1px solid #000000;
  font-size: 10px;
}

.warscroll:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  border: 1px solid #40AFFF;
  -webkit-box-shadow: 0 0 10px 1px #40AFFF;
          box-shadow: 0 0 10px 1px #40AFFF;
}

@media print {
  .left-tab {
    display: none;
  }
  .pdf-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
  }
}
/*# sourceMappingURL=style.css.map */