html, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #333333;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  padding: 40px;
  width: 100%;
}

h1 {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

.left-tab {
  width: 40%;
  height: auto;
  padding: 30px;
  background-color: #fff;
}

.unit-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.unit-infos .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
  width: 100%;
}

.unit-infos .box label {
  width: 30%;
}

.unit-infos .box input {
  border: none;
  font-size: 15px;
  height: 30px;
  padding: 4px;
  border-bottom: 1px solid #40AFFF;
}

.unit-infos .text-box input {
  width: 70%;
}

.unit-infos .number-box input {
  width: 10%;
}

.unit-infos .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.unit-infos .add-box .upper-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unit-infos .add-box .upper-side p {
  width: 30%;
}

.unit-infos .add-box .upper-side .add-btn {
  width: 35px;
  height: 35px;
  background: #40AFFF;
  border: none;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.unit-infos .add-box .upper-side .add-btn span {
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
}

.unit-infos .add-box .upper-side .add-btn span:last-child {
  width: 2px;
  height: 25px;
}

.unit-infos .add-box .lower-side {
  width: 100%;
  margin-top: 10px;
}

.unit-infos .add-box .lower-side .weapon, .unit-infos .add-box .lower-side .ability, .unit-infos .add-box .lower-side .keyword {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.unit-infos .add-box .lower-side .weapon input, .unit-infos .add-box .lower-side .ability input, .unit-infos .add-box .lower-side .keyword input {
  width: 10%;
  border: none;
  background: #ececec;
  border-right: 2px solid #ffffff;
}

.unit-infos .add-box .lower-side .weapon input::-webkit-input-placeholder, .unit-infos .add-box .lower-side .ability input::-webkit-input-placeholder, .unit-infos .add-box .lower-side .keyword input::-webkit-input-placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon input:-ms-input-placeholder, .unit-infos .add-box .lower-side .ability input:-ms-input-placeholder, .unit-infos .add-box .lower-side .keyword input:-ms-input-placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon input::-ms-input-placeholder, .unit-infos .add-box .lower-side .ability input::-ms-input-placeholder, .unit-infos .add-box .lower-side .keyword input::-ms-input-placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon input::placeholder, .unit-infos .add-box .lower-side .ability input::placeholder, .unit-infos .add-box .lower-side .keyword input::placeholder {
  font-style: italic;
}

.unit-infos .add-box .lower-side .weapon input:nth-child(1), .unit-infos .add-box .lower-side .ability input:nth-child(1), .unit-infos .add-box .lower-side .keyword input:nth-child(1) {
  width: 30%;
}

.unit-infos .add-box .lower-side .weapon input:nth-child(2), .unit-infos .add-box .lower-side .ability input:nth-child(2), .unit-infos .add-box .lower-side .keyword input:nth-child(2) {
  width: 15%;
}

.unit-infos .add-box .lower-side .weapon input:nth-child(3), .unit-infos .add-box .lower-side .ability input:nth-child(3), .unit-infos .add-box .lower-side .keyword input:nth-child(3) {
  width: 9%;
}

.unit-infos .add-box .lower-side .weapon input:nth-child(4), .unit-infos .add-box .lower-side .ability input:nth-child(4), .unit-infos .add-box .lower-side .keyword input:nth-child(4) {
  width: 9%;
}

.unit-infos .add-box .lower-side .weapon input:nth-child(5), .unit-infos .add-box .lower-side .ability input:nth-child(5), .unit-infos .add-box .lower-side .keyword input:nth-child(5) {
  width: 13%;
}

.unit-infos .add-box .lower-side .weapon input:nth-child(7), .unit-infos .add-box .lower-side .ability input:nth-child(7), .unit-infos .add-box .lower-side .keyword input:nth-child(7) {
  width: 14%;
}

.unit-infos .add-box .lower-side .ability input:last-child {
  width: 70%;
}

.unit-infos .btn-box {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn {
  background-color: #40AFFF;
  color: #ffffff;
  font-size: 18px;
  width: 40%;
  height: 35px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.right-tab {
  width: 740px;
  padding: 10px;
  background: #fff;
}

.right-tab .pdf-view {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-tab .generate-box {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ececec;
  padding: 15px;
  margin-top: 10px;
}

.warscroll {
  height: 300px;
  width: 50%;
  padding: 5px 8px;
  border: 1px solid #000000;
}

.warscroll .warscroll-top {
  border-bottom: 1px solid #000000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warscroll .warscroll-top .warscroll-top-name, .warscroll .warscroll-top .warscroll-top-weapons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.warscroll .warscroll-top .warscroll-top-name p:first-child, .warscroll .warscroll-top .warscroll-top-weapons p:first-child {
  font-weight: bold;
  font-size: 16px;
}

.warscroll .warscroll-top .warscroll-top-name p:last-child, .warscroll .warscroll-top .warscroll-top-weapons p:last-child {
  font-size: 11px;
}

.warscroll .warscroll-top .warscroll-top-weapons {
  font-size: 9px;
}

.warscroll .warscroll-stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid #000000;
  padding: 3px 0;
}

.warscroll .warscroll-stats .stats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warscroll .warscroll-stats .stats-box i {
  font-size: 23px;
  margin-right: 4px;
}

.warscroll .warscroll-stats .stats-box span {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */