@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap')
$yellow-collor: #E7AC51
$yellow-lighter: #ffcf88
$grey: #665F55
$dark-grey: #272b2a
$warning-red: #d64a4a
$success-green: #62b35d
    
html, *
    margin: 0
    padding: 0
    box-sizing: border-box
    letter-spacing: -0.3px

body 
    font-family: 'Montserrat', sans-serif
    background: #F3F3F3

.main 
    display: flex
    height: 100vh

.btn
    color: #ffffff
    font-size: 18px
    height: 50px
    border-radius: 3px
    border: none
    cursor: pointer

.operation-box__btn
    background: $yellow-collor
    width: 300px
    display: flex 
    align-items: center
    justify-content: center
    transition: background .3s

    i 
        font-size: 22px
        margin-right: 10px

.operation-box__btn:hover
    background: $yellow-lighter

.message-box
    position: fixed 
    width: 400px
    height: 80px
    background: #000
    top: 4%
    left: 50%
    border-radius: 3px
    transform: translateX(-50%)
    display: flex
    justify-content: center
    align-items: center
    z-index: 10
    opacity: 0
    visibility: hidden
    transition: opacity .3s, visibility .3s

    .message-box__message
        color: #ffffff

.message-box.active
    visibility: visible
    opacity: 1

.message-box.warning
    background: $warning-red

.message-box.success
    background: $success-green


//=================================
//         CONTROL PANEL
//=================================


.control-panel
    position: fixed
    width: 300px
    height: 100%
    background: $grey
    overflow: hidden
    z-index: 2
    display: flex 
    flex-direction: column

    .control-panel__top
        width: 100%
        height: 100px
        background: $dark-grey

        img
            width: 100%
            height: 100%
            object-fit: cover

    .control-panel__actions
        flex: 1
        width: 100%

        .control-panel__heading
            position: relative
            width: 80%
            margin: 20px auto
            display: flex
            align-items: center
            justify-content: center
            font-size: 22px
            font-weight: 400
            color: #f5f5f5

            svg
                margin-right: 8px

        .control-panel__heading::before, .control-panel__heading::after
            position: absolute
            height: 1px
            width: 50px
            content: ''
            top: 50%
            background-color: #f5f5f5

        .control-panel__heading::before
            left: 0
        .control-panel__heading::after
            right: 0

        .control-panel__btns
            width: 100%

            .control-panel__btn
                background: $yellow-collor
                display: block
                width: 80%
                margin: 15px auto
                margin-right: auto
                font-size: 18px
                transition: margin .5s, width .5s

                i
                    margin-right: 10px

            .control-panel__btn:hover
                background: $yellow-lighter

            .control-panel__btn.clicked
                margin-right: 0
                width: 90%
                border-radius: 0
                background: $dark-grey
                line-height: 0
                font-size: 0
                cursor: default

    .control-panel__bottom
        position: relative
        width: 100%
        padding: 20px 0
        text-align: center

        svg
            position: absolute
            bottom: -100px
            left: 0
            z-index: 3

        .control-panel__text
            color: #f5f5f5
            position: relative
            z-index: 4


//=================================
//          OPERATION BOX
//=================================


.operation-box
    position: fixed
    background: #fff
    left: 0
    z-index: 1
    box-shadow: 2px 0 10px 1px #3333333f
    transition: transform .5s

    .operation-box__top
        width: 100%
        height: 50px
        background: $dark-grey
        display: flex
        justify-content: center
        align-items: center
        position: relative

        .operation-box__heading
            position: relative
            color: #F5F5F5
            font-weight: 400

        .operation-box__heading::before, .operation-box__heading::after
            position: absolute
            content: ''
            height: 2px
            background: #f5f5f5
            top: 50%

        .operation-box__top-btn
            position: absolute
            background: transparent
            width: 28px
            height: 28px
            right: 15px
            border-radius: 50%
            border: none
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            transition: background .3s
            
            span
                position: absolute
                display: block
                background: $yellow-collor
                width: 80%
                height: 3px
                transition: background .3s

            .first
                transform: rotateZ(45deg)

            .second
                transform: rotateZ(- 45deg)

        .operation-box__top-btn:hover
            background: #f5f5f5

            span
                background: $dark-grey

    .operation-box__main
        width: 100%
        height: 0
        background: #fff
        overflow-y: scroll
        transition: height .8s

        .operation-box__content
            display: flex
            flex-direction: column
            width: 100%
            height: 100%
            opacity: 0
            padding: 30px
            transition: opacity .2s

            .operation-box__form
                flex: 1
                display: flex
                flex-direction: column
                width: 100%

            .operation-box__btn-box
                margin-top: 20px
                width: 100%
                display: flex
                justify-content: space-between


//=================================
//           ADDING BOX
//=================================


.adding-box
    position: fixed
    width: 700px
    background: #fff
    top: 167px
    left: 0
    z-index: 1
    // transform: translateX(300px)
    transform: translateX(-700px)
    box-shadow: 2px 0 10px 1px #3333333f
    transition: transform .5s

    .adding-box__top
        width: 100%
        height: 50px
        background: $dark-grey
        display: flex
        justify-content: center
        align-items: center
        position: relative

        .adding-box__heading
            position: relative
            color: #F5F5F5
            font-weight: 400

        .adding-box__heading::before, .adding-box__heading::after
            position: absolute
            content: ''
            height: 2px
            background: #f5f5f5
            width: 150px
            top: 50%

        .adding-box__heading::before
            left: -170px

        .adding-box__heading::after
            right: -170px

        .adding-box__top-btn
            position: absolute
            background: transparent
            width: 28px
            height: 28px
            right: 15px
            border-radius: 50%
            border: none
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            transition: background .3s
            
            span
                position: absolute
                display: block
                background: $yellow-collor
                width: 80%
                height: 3px
                transition: background .3s

            .first
                transform: rotateZ(45deg)

            .second
                transform: rotateZ(- 45deg)

        .adding-box__top-btn:hover
            background: #f5f5f5

            span
                background: $dark-grey

    .adding-box__main
        width: 100%
        height: 0
        background: #fff
        overflow-y: scroll
        transition: height .8s

        .adding-box__content
            display: flex
            flex-direction: column
            width: 100%
            height: 100%
            opacity: 0
            padding: 30px
            transition: opacity .2s

            .unit-infos 
                flex: 1
                display: flex
                flex-direction: column
                width: 100%

                .box
                    display: flex
                    align-items: center
                    margin: 8px 0
                    width: 100%

                    label 
                        width: 30%

                    input
                        border: none
                        font-size: 15px
                        height: 30px
                        padding: 4px
                        border-bottom: 1px solid $dark-grey

                    input:focus
                        border-bottom: 2px solid $yellow-collor
                        outline: none

                .text-box
                    input
                        width: 70%

                .number-box
                    input
                        width: 10%

                .add-box
                    display: flex
                    flex-direction: column

                    .upper-side
                        width: 100%
                        display: flex
                        align-items: center

                        p 
                            width: 30%
                        
                        .add-btn
                            width: 35px
                            height: 35px
                            background: $yellow-collor
                            border: none
                            border-radius: 3px
                            display: flex
                            justify-content: center
                            align-items: center
                            position: relative
                            cursor: pointer
                            transition: background .3s

                            span 
                                position: absolute
                                display: block
                                width: 25px
                                height: 2px
                                background: #fff

                            span:first-child

                            span:last-child
                                width: 2px
                                height: 25px

                        .add-btn:hover
                            background: $yellow-lighter

                    .lower-side
                        width: 100%
                        margin-top: 10px

                        .weapon-add, .ability-add, .keyword-add
                            width: 100%
                            display: flex
                            margin-bottom: 5px

                            .attributes-btn
                                border: none
                                width: 30px
                                height: 30px
                                background: $warning-red
                                font-size: 20px
                                color: #ffffff
                                cursor: pointer

                            input, select 
                                width: 10%
                                border: none
                                background: #ececec
                                border-right: 2px solid #ffffff

                            input::placeholder
                                font-style: italic

                            input:nth-child(1)
                                width: 22%

                            input:nth-child(2)
                                width: 15%

                            input:nth-child(3)
                                width: 10%

                            input:nth-child(4)
                                width: 10%

                            input:nth-child(5)
                                width: 9%

                            input:nth-child(6)
                                width: 14%

                            input:nth-child(7)
                                width: 8%

                            input:nth-child(8)
                                width: 12%

                        .ability-add
                            select
                                width: 20%

                            input:nth-child(2)
                                width: 20%
                
                            input:nth-child(3)
                                width: 60%

            .btn-box
                margin-top: 20px
                width: 100%
                display: flex
                justify-content: space-around

                .operation-btn
                    width: 45%

        .adding-box__content.opened
            opacity: 1

    .adding-box__main.opened
        height: 700px
    
.adding-box.opened
    transform: translateX(300px)


//=================================
//           SAVE BOX
//=================================


.operation-box--save
    width: 500px
    top: 232px
    // transform: translateX(300px)
    transform: translateX(-500px)

    .operation-box__top--save
        .operation-box__heading--save::before, .operation-box__heading--save::after
            width: 90px

        .operation-box__heading--save::before
            left: -100px

        .operation-box__heading--save::after
            right: -100px   

    .operation-box__main--save     
        overflow: visible

        .operation-box__content--save
            .operation-box__form--save
                .operation-box__text-box--save
                    display: flex
                    align-items: center
                    justify-content: space-between
                    margin: 8px 0
                    width: 100%

                    .operation-box__input-label--save
                        width: 48%

                    .operation-box__input--save
                        border: none
                        font-size: 15px
                        height: 30px
                        width: 48%
                        padding: 4px
                        border-bottom: 1px solid $dark-grey

                    .operation-box__input--save:focus
                        border-bottom: 2px solid $yellow-collor
                        outline: none

            .operation-box__btn-box--save
                .operation-box__btn--save
                    width: 48%

        .operation-box__content--save.opened
            opacity: 1

    .operation-box__main--save.opened
        height: 200px
    
.operation-box--save.opened
    transform: translateX(300px)


//=================================
//           LOAD BOX
//=================================


.operation-box--load
    width: 500px
    top: 297px
    // transform: translateX(300px)
    transform: translateX(-500px)

    .operation-box__top--load
        .operation-box__heading--load::before, .operation-box__heading--load::after
            width: 90px

        .operation-box__heading--load::before
            left: -100px

        .operation-box__heading--load::after
            right: -100px   

    .operation-box__main--load     
        overflow: visible

        .operation-box__content--load
            .operation-box__form--load
                border: 1px solid #c7c7c7
                
                .load-item
                    background: #fff
                    width: 100%
                    display: flex
                    align-items: center
                    margin-bottom: 2px
                
                    .load-item__name
                        color: $dark-grey
                        text-decoration: none
                        flex: 1
                        padding-left: 5px

                    .load-item__delete
                        border: none
                        width: 30px
                        height: 30px
                        background: $warning-red
                        font-size: 20px
                        color: #ffffff
                        cursor: pointer

                    .load-item__delete:hover


                .load-item:nth-child(even)
                    background: #d8d8d8

            .operation-box__btn-box--load
                .operation-box__btn--load
                    width: 48%

        .operation-box__content--load.opened
            opacity: 1

    .operation-box__main--load.opened
        height: 400px
    
.operation-box--load.opened
    transform: translateX(300px)


//=================================
//           MAIN VIEW
//=================================


.main-view
    margin-left: 300px
    padding: 30px

    .main-view__heading
        width: 100%

        .main-view__heading-h1
            font-size: 32px
            font-weight: 400

        hr
            width: 30%
            height: 5px
            background: $yellow-collor
            border: none
            margin: 40px 0

    .main-view__content
        display: flex
        width: 100%

        .main-view__text
            width: 40%
            padding-right: 30px

            .main-view__text-paragraph
                font-size: 18px
                text-align: justify
                line-height: 1.4
                margin-bottom: 20px

        .main-view__print
            padding-left: 100px
            padding-bottom: 80px

            .main-view__print-box
                width: 740px
                background: #fff
                box-shadow: 0 0 10px 1px #3333333f
                display: flex
                flex-direction: column

                .main-view__print-top
                    width: 100%
                    height: 50px
                    padding: 0 15px
                    background: $dark-grey
                    display: flex
                    align-items: center

                    .main-view__print-top-paragraph
                        color: #ffffff
                        font-size: 18px

                .main-view__print-view
                    padding: 10px
                    width: 100%
                    display: flex
                    flex-wrap: wrap
                    justify-content: center

                .main-view__print-bottom
                    width: 100%
                    height: 80px
                    background: $dark-grey
                    display: flex 
                    justify-content: center
                    align-items: center
                   

// ============ WARSCROLLS =================

.warscroll
    font-family: sans-serif
    display: flex
    background: #fff
    border: 1px solid #000000
    box-shadow: none
    transition: transform .3s, border .3s, box-shadow .3s
    position: relative
    overflow: hidden

.warscroll-back
    border-left: 1px solid #000000

.warscroll-id
    display: none

.warscroll-front, .warscroll-back
    height: 240px
    width: 340px
    padding: 5px 8px
    display: flex 
    flex-direction: column
    cursor: pointer

    .warscroll-top
        border-bottom: 1px solid #000000
        width: 100%
        display: flex 
        justify-content: space-between

        .warscroll-top-name, .warscroll-top-weapons
            display: flex
            flex-direction: column
            justify-content: flex-end
            width: 48%
        
        .warscroll-top-name
            p:first-child
                text-transform: uppercase
                font-weight: bold
                font-size: 12px

            p:last-child
                text-transform: uppercase
                font-size: 10px

        .warscroll-top-weapons
            text-align: right
            font-size: 9px

    .warscroll-stats
        width: 100%
        display: flex
        justify-content: space-evenly
        border-bottom: 1px solid #000000
        padding: 3px 0

        .stats-box
            display: flex 
            align-items: center

            i 
                font-size: 23px
                margin-right: 4px

            span
                font-size: 20px
    
    .warscroll-weapons-abilities
        width: 100%
        height: 
        border-bottom: 1px solid #000000
        flex: 1

        .warscroll-weapons
            width: 95%
            display: flex 
            flex-direction: column
            margin: 5px auto

            .weapons-stats, .weapon
                width: 100%
                display: flex 

                p 
                    font-size: 11px
                    border: 1px solid #000
                    border-right: none
                    width: 14%
                    height: 16px
                    display: flex
                    justify-content: center
                    align-items: center

                p:nth-child(1)
                    width: 8%
                    padding-right: 1px
                    border: none

                p:nth-child(2)
                    width: 17%

                p:nth-child(5)
                    width: 22%

                p:nth-child(7)
                    border-right: 1px solid #000000
                    width: 11%

            .weapon
                margin-top: 2px

                p 
                    height: 18px
                    font-size: 14px
                    font-weight: bold

                    i 
                        margin-right: 5px

                p:nth-child(1)
                    font-size: 12px
                    font-weight: normal
                    justify-content: flex-end

            .weapon:nth-child(even)
                background: #e0e0e0

                p:first-child 
                    background: #fff

    .warscroll-keywords
        font-size: 10px

.warscroll-panel
    display: flex 
    justify-content: center
    align-items: center
    height: 100%
    width: 100%
    position: absolute
    background: rgba(0, 0, 0, 0.801)
    transform: translateX(100%)
    transition: transform .3s

    .warscroll-delete 
        width: 100px
        background: $warning-red

.warscroll-panel.turn-on
    transform: translateX(0)

.warscroll-abilities
    width: 100%

    .ability
        width: 100%
        font-size: 10px

        .ability-type
            float: left
            font-style: normal
            font-weight: bold
            margin-right: 3px

        .ability-name
            float: left
            font-style: italic
            margin-right: 3px

        .ability-desc
            font-weight: bold



.warscroll-back
    .warscroll-abilities
        flex: 1
        padding: 5px 0

    .warscroll-keywords
        border-top: 1px solid #000000
        font-size: 10px

.warscroll:hover 
    transform: translateY(-3px)
    border: 1px solid $yellow-collor
    box-shadow: 0 0 10px 1px $yellow-collor

@media print 
    .control-panel
        display: none 

    .main-view
        margin-left: 0
        padding: 0

        .main-view__heading
            display: none

            .main-view__heading-h1
            hr
        .main-view__content
            .main-view__text
                display: none

                .main-view__text-paragraph
            .main-view__print
                padding-left: 0
                padding-bottom: 0
        
                .main-view__print-box
                    .main-view__print-top
                        display: none

                    .main-view__print-view
                        display: flex
                        background-color: white
                        width: 100%
                        position: fixed
                        top: 0
                        left: 0
                        margin: 0
                        // padding: 15px

                    .main-view__print-bottom
                        display: none

    .operation-box--save, .adding-box, .operation-box--load, .warning-box
        display: none




