@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap')
$yellow-collor: #E7AC51
$grey: #665F55
$dark-grey: #272b2a
    
html, *
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    letter-spacing: -0.3px

body 
    background: #F3F3F3

.main 
    display: flex
    height: 100vh


//=================================
//         CONTROL PANEL
//=================================


.control-panel
    position: fixed
    width: 300px
    height: 100%
    background: $grey
    overflow: hidden
    z-index: 2

    .control-panel__top

    .control-panel__actions
        flex: 1

    .control-panel__bottom
        position: absolute
        bottom: -80px
        left: 0
        width: 100%

        svg
            width: 100%
            


//=================================
//           ADDING BOX
//=================================


.adding-box
    position: fixed
    width: 700px
    height: 600px
    background: #fff
    top: 153px
    left: 0
    z-index: 1
    transform: translateX(300px)
    box-shadow: 2px 0 10px 1px #3333333f

    .adding-box__top
        width: 100%
        height: 50px
        background: $dark-grey
        display: flex
        justify-content: center
        align-items: center
        position: relative

        .adding-box__heading
            position: relative
            color: #F5F5F5
            font-weight: 400

        .adding-box__heading::before, .adding-box__heading::after
            position: absolute
            content: ''
            height: 2px
            background: #f5f5f5
            width: 150px
            top: 50%

        .adding-box__heading::before
            left: -170px

        .adding-box__heading::after
            right: -170px

        .adding-box__top-btn
            position: absolute
            background: transparent
            width: 28px
            height: 28px
            right: 15px
            border-radius: 50%
            border: none
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            transition: background .3s
            
            span
                position: absolute
                display: block
                background: $yellow-collor
                width: 80%
                height: 3px
                transition: background .3s

            .first
                transform: rotateZ(45deg)

            .second
                transform: rotateZ(- 45deg)

        .adding-box__top-btn:hover
            background: #f5f5f5

            span
                background: $dark-grey
    

//=================================
//           MAIN VIEW
//=================================


.main-view
    margin-left: 300px
    padding: 30px

    .main-view__heading
        width: 100%

        .main-view__heading-h1
            font-size: 32px
            font-weight: 400

        hr
            width: 30%
            height: 5px
            background: $yellow-collor
            border: none
            margin: 40px 0

    .main-view__content
        display: flex
        width: 100%

        .main-view__text
            width: 40%
            padding-right: 30px

            .main-view__text-paragraph
                font-size: 18px
                text-align: justify
                line-height: 1.4
                margin-bottom: 20px

        .main-view__print
            padding-left: 100px
            padding-bottom: 80px

            .main-view__print-box
                width: 740px
                height: 900px
                background: #fff
                box-shadow: 0 0 10px 1px #3333333f

                .main-view__print-top
                .main-view__print-view
                .main-view__print-bottom
        
































.container 
    display: flex
    justify-content: space-around
    align-items: start
    position: relative
    padding: 40px
    width: 100%

// ============ LEFT SIDE =================

.left-tab
    width: 40%
    height: auto
    padding: 30px
    background-color: #fff

.unit-infos 
    display: flex
    flex-direction: column
    width: 100%

    .box
        display: flex
        align-items: center
        margin: 8px 0
        width: 100%

        label 
            width: 30%

        input
            border: none
            font-size: 15px
            height: 30px
            padding: 4px
            border-bottom: 1px solid #40AFFF

    .text-box
        input
            width: 70%

    .number-box
        input
            width: 10%

    .add-box
        display: flex
        flex-direction: column

        .upper-side
            width: 100%
            display: flex
            align-items: center

            p 
                width: 30%
            
            .add-btn
                width: 35px
                height: 35px
                background: #40AFFF
                border: none
                border-radius: 3px
                display: flex
                justify-content: center
                align-items: center
                position: relative
                cursor: pointer

                span 
                    position: absolute
                    display: block
                    width: 25px
                    height: 2px
                    background: #fff

                span:first-child

                span:last-child
                    width: 2px
                    height: 25px

        .lower-side
            width: 100%
            margin-top: 10px

            .weapon-add, .ability-add, .keyword-add
                width: 100%
                display: flex
                margin-bottom: 5px

                .attributes-btn
                    border: none
                    width: 30px
                    height: 30px
                    background: #d64a4a
                    font-size: 20px
                    color: #ffffff
                    cursor: pointer

                input, select 
                    width: 10%
                    border: none
                    background: #ececec
                    border-right: 2px solid #ffffff

                input::placeholder
                    font-style: italic

                input:nth-child(1)
                    width: 30%

                input:nth-child(2)
                    width: 15%

                input:nth-child(3)
                    width: 9%

                input:nth-child(4)
                    width: 9%

                input:nth-child(5)
                    width: 9%

                input:nth-child(6)
                    width: 13%

                input:nth-child(8)
                    width: 12%

            .ability-add
                select
                    width: 20%

                input:nth-child(2)
                    width: 20%
    
                input:nth-child(3)
                    width: 60%

    .btn-box
        margin-top: 20px
        width: 100%
        display: flex
        justify-content: space-around

.btn
    background-color: #40AFFF
    color: #ffffff
    font-size: 18px
    width: 40%
    height: 35px
    border-radius: 3px
    border: none
    cursor: pointer


// ============ RIGHT SIDE =================


.right-tab
    width: 740px
    background: #fff
    display: flex
    flex-direction: column

    .pdf-view
        padding: 10px
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: center

    .generate-box
        width: 100%
        height: 100px
        display: flex
        justify-content: center
        align-items: center
        background: #ececec
        padding: 15px
        margin-top: 10px

// ============ WARSCROLLS =================

.warscroll
    display: flex
    background: #fff
    border: 1px solid #000000
    box-shadow: none
    transition: transform .3s, border .3s, box-shadow .3s
    position: relative
    overflow: hidden

.warscroll-back
    border-left: 1px solid #000000

.warscroll-front, .warscroll-back
    height: 240px
    width: 340px
    padding: 5px 8px
    display: flex 
    flex-direction: column
    cursor: pointer

    .warscroll-top
        border-bottom: 1px solid #000000
        width: 100%
        display: flex 
        justify-content: space-between

        .warscroll-top-name, .warscroll-top-weapons
            display: flex
            flex-direction: column
            justify-content: flex-end
            width: 48%
        
        .warscroll-top-name
            p:first-child
                text-transform: uppercase
                font-weight: bold
                font-size: 12px

            p:last-child
                text-transform: uppercase
                font-size: 10px

        .warscroll-top-weapons
            text-align: right
            font-size: 9px

    .warscroll-stats
        width: 100%
        display: flex
        justify-content: space-evenly
        border-bottom: 1px solid #000000
        padding: 3px 0

        .stats-box
            display: flex 
            align-items: center

            i 
                font-size: 23px
                margin-right: 4px

            span
                font-size: 20px
    
    .warscroll-weapons-abilities
        width: 100%
        height: 
        border-bottom: 1px solid #000000
        flex: 1

        .warscroll-weapons
            width: 95%
            display: flex 
            flex-direction: column
            margin: 5px auto

            .weapons-stats, .weapon
                width: 100%
                display: flex 

                p 
                    font-size: 11px
                    border: 1px solid #000
                    border-right: none
                    width: 14%
                    height: 16px
                    display: flex
                    justify-content: center
                    align-items: center

                p:nth-child(1)
                    width: 8%
                    padding-right: 1px
                    border: none

                p:nth-child(2)
                    width: 17%

                p:nth-child(5)
                    width: 22%

                p:nth-child(7)
                    border-right: 1px solid #000000
                    width: 11%

            .weapon
                margin-top: 2px

                p 
                    height: 18px
                    font-size: 14px
                    font-weight: bold

                    i 
                        margin-right: 5px

                p:nth-child(1)
                    font-size: 12px
                    font-weight: normal
                    justify-content: flex-end

            .weapon:nth-child(even)
                background: #e0e0e0

                p:first-child 
                    background: #fff

    .warscroll-keywords
        font-size: 10px

.warscroll-panel
    display: flex 
    justify-content: center
    align-items: center
    height: 100%
    width: 100%
    position: absolute
    background: rgba(0, 0, 0, 0.801)
    transform: translateX(100%)
    transition: transform .3s

    .warscroll-delete 
        background: #d64a4a

.warscroll-panel.turn-on
    transform: translateX(0)

.warscroll-abilities
    width: 100%

    .ability
        width: 100%
        font-size: 10px

        .ability-type
            float: left
            font-style: normal
            font-weight: bold
            margin-right: 3px

        .ability-name
            float: left
            font-style: italic
            margin-right: 3px

        .ability-desc
            font-weight: bold



.warscroll-back
    .warscroll-abilities
        flex: 1
        padding: 5px 0

    .warscroll-keywords
        border-top: 1px solid #000000
        font-size: 10px

.warscroll:hover 
    transform: translateY(-3px)
    border: 1px solid #40AFFF
    box-shadow: 0 0 10px 1px #40AFFF

@media print 
    .left-tab
        display: none 

    .pdf-view 
        display: flex
        background-color: white
        width: 100%
        position: fixed
        top: 0
        left: 0
        margin: 0
        padding: 15px




