* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #501E30;
}

section p {
  font-size: 50px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#501E30), to(rgba(0, 0, 0, 0.85)));
  background-image: linear-gradient(to bottom right, #501E30, rgba(0, 0, 0, 0.85));
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 950px;
  height: 320px;
  border: 1px solid #ffffff;
  -webkit-animation: container-anim .6s ease-in;
          animation: container-anim .6s ease-in;
  z-index: 2;
}

header .container h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-animation: heading-anim .5s ease-in .5s forwards;
          animation: heading-anim .5s ease-in .5s forwards;
}

header .container h3 {
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
  -webkit-animation: heading-anim .5s ease-in .7s forwards;
          animation: heading-anim .5s ease-in .7s forwards;
}

header .moon {
  position: absolute;
  top: 18%;
  left: 10%;
  width: 140px;
  -webkit-transform: none;
          transform: none;
  z-index: 1;
}

header .forest {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: none;
          transform: none;
  z-index: 1;
}

header .right-shape {
  position: absolute;
  bottom: 0;
  right: -10px;
}

header .left-shape {
  position: absolute;
  bottom: 0;
  left: 0;
}

@-webkit-keyframes container-anim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes container-anim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes heading-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes heading-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */