* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #ffffff;
  color: #2e2e2e;
  font-family: sans-serif;
}

body h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

.btn {
  margin: 0 10px;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.btn1 {
  background: none;
  border: 1px solid #222129;
  overflow: hidden;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.btn1::before {
  position: absolute;
  width: 170px;
  height: 100px;
  content: '';
  background-color: #222129;
  top: 0px;
  border-radius: 0;
  left: -153px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -1;
  -webkit-transition: left .8s, border-radius .8s;
  transition: left .8s, border-radius .8s;
}

.btn1:hover {
  color: #ffffff;
}

.btn1:hover::before {
  left: -13px;
  border-radius: 40% 60% 0 0;
}

.btn2 {
  background-color: transparent;
  border: 1px solid #d813ff;
  overflow: hidden;
  color: #000;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: border 0.2s, color 0.6s, -webkit-transform 0.3s;
  transition: border 0.2s, color 0.6s, -webkit-transform 0.3s;
  transition: border 0.2s, transform 0.3s, color 0.6s;
  transition: border 0.2s, transform 0.3s, color 0.6s, -webkit-transform 0.3s;
}

.btn2:hover {
  color: #fff;
  border: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn2::before {
  content: '';
  position: absolute;
  top: 0;
  left: -110px;
  width: 80%;
  height: 100%;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#f77e2e), to(#d813ff));
  background-image: linear-gradient(to right, #f77e2e, #d813ff);
  -webkit-transition: left 0.3s, border-radius 1.5s;
  transition: left 0.3s, border-radius 1.5s;
  z-index: -1;
}

.btn2:hover::before {
  left: 13px;
  border-radius: 50px;
}

.btn3 {
  border: 1px solid #0087f5;
  background-color: transparent;
  overflow: hidden;
  color: #000000;
  -webkit-transition: color 0.3s, border .3s;
  transition: color 0.3s, border .3s;
}

.btn3:hover {
  color: #ffffff;
  border: none;
}

.btn3::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 80px;
  left: -85px;
  top: -20px;
  background-color: #0087f5;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  z-index: -1;
}

.btn3:hover::after {
  -webkit-animation: bt3-anim 1s forwards;
          animation: bt3-anim 1s forwards;
}

@-webkit-keyframes bt3-anim {
  30% {
    left: 100px;
  }
  60% {
    left: -50px;
  }
  100% {
    top: -30px;
    height: 100px;
    left: 0;
    width: 100%;
  }
}

@keyframes bt3-anim {
  30% {
    left: 100px;
  }
  60% {
    left: -50px;
  }
  100% {
    top: -30px;
    height: 100px;
    left: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */